html,
body {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    background: #111;
    color: #fff;
    background-image: url(img/luffy.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
